body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
/*  margin-top: 500px; */
  width: 100%;
  background-color: #000000;
}
.container h1 {
  text-align: center;
  color: red;
  margin-top: 0px;
  font-size: 50px;
}
.container p {
  text-align: center;
  color: #ffffff;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 20px;
}
.img {
  width: 100%;
  height: 100vh;
  background-image: url(https://wallpaperaccess.com/full/2637581.jpg);
  background-size: 100%;
  background-position:  center center;
  background-repeat: no-repeat;
}
